<button class="btn btn-info m-4" (click)="goBack()" placement="bottom" ngbTooltip="Back">
  <i class="fa fa-arrow-left"></i>
</button>
<div class="card col-md-6 m-auto" *ngIf="planet; else loading">
  <div class="card-body text-center">
    <h4 class="text-blue">{{ planet.name }}</h4><br>
    <div class="row">
      <div class="col-md-6 md-text-right "><b>Rotation period:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.rotation_period }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Orbital period:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.orbital_period }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Diameter:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.diameter }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Climate:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.climate }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Gravity:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.gravity }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Terrain:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.terrain }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Rotation period:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.rotation_period }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Surface water:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.surface_water }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Population:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.population }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Residents:</b></div>
      <div class="col-md-6 md-text-left">
      <div *ngIf="residentsNames.length; else loadingSm">
          <span *ngFor="let residentsName of residentsNames">{{ residentsName }}<br></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Films:</b></div>
      <div class="col-md-6 md-text-left text-blue">
        <div *ngIf="films.length; else loadingSm">
          <span *ngFor="let film of films">
            <div (click)="redirectToFilmView(film.url)" class="cursor-pointer">{{ film.title }}</div>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Created:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.created | date:'d.MM.yyyy, hh:mm' }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 md-text-right"><b>Edited:</b></div>
      <div class="col-md-6 md-text-left">{{ planet.edited | date:'d.MM.yyyy, hh:mm' }}</div>
    </div>
  </div>
</div>
<br>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #loadingSm>
  <app-spinner size="sm" [withTitle]="false"></app-spinner>
</ng-template>