<div *ngIf="planets; else loading">
  <app-filter (phraseEmitter)="getPlanetsByPhrase($event)"></app-filter>
  <div class="row p-3">
    <app-planet-view class="col-sm-4 col-md-3" *ngFor="let planet of planets.results" [planet]="planet">
    </app-planet-view>
  </div>
  <div class="row planets-info-box">
    <div class="number-of-planets-box col ml-3 text-white">Number of planets: <b>{{ planets.count }}</b></div>
    <div class="col">
      <app-pagination [maxPageNumber]="maxPageNumber" (pageNumberEmitter)="getPlanetsByPageNumber($event)"
        (pageSizeEmitter)="getPlanetsByPageSize($event)"></app-pagination>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
